<h1 class="title">URL Shortener</h1>
<div class="img-container">
</div>
<div class="container mt-5">
  {{#if data}}
    <h2 class="success">Succsess! Please use this link:</h2>
    <a
      id="short-url"
      href="http://localhost:3000/{{data}}"
    >http://localhost:3000/{{data}}</a>
    <button
      type="button"
      onclick="copyUrl()"
      class="btn btn-primary btn-copy"
    >Copy</button>
  {{else}}
    <form action="/shorten" method="post" id="url-form">
      <input
        type="text"
        name="url"
        class="form-control"
        placeholder="Input URL here"
        id="input-url"
        required
      />
      <button type="submit" class="btn btn-primary btn-submit">Shorten</button>
    </form>
  {{/if}}

</div>