<h1 class="title">URL Shortener</h1>
<div class="img-container">
</div>
<div class="container mt-5">
  {{#if data}}
    <h1>Succsess! Please use this link:</h1>
    <h3>http://localhost:3000/{{data}}</h3>
  {{else}}
  <form action="/shorten" method="post" id="url-form">
      <input
        type="text"
        name="url"
        class="form-control"
        placeholder="Input URL here"
        id="input-url"
        required
      />
      <button type="submit" class="btn btn-primary btn-submit">Shorten</button>
    </form>
  {{/if}}

</div>