.title {
  margin: 5vh auto;
  text-align: center;
}
.img-container {
  background-image: url(https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png);
  background-size: cover;
  background-position: center center;
  width: 30vh;
  height: 30vh;
  margin: 5vh auto;
}


.btn-submit {
  width: 50vh;
  margin: 3vh;
}

form {
  text-align: center;
}

.success {
  text-align: center;
}

#short-url {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
}

.btn-copy {
  display: block;
  width: 25vh;
  margin: 3vh auto
}
